<!DOCTYPE html>
<html xmlns:th="http:;//www.thymeleaf.org">
<th:block th:fragment="member">

    <h1>유저 정보</h1>

        <dl>
            <div class="aboutList" th:text="#{프로필_이미지}"></div>
            <th:block th:if="${profile.profileImage != null}"
                      th:utext="${@utils.showImage(profile.profileImage.seq, 100, 130, 'image')}"></th:block>
        </dl>
        <dl>
            <div class="aboutList" th:text="#{닉네임 : } + ${profile.nickName}"></div>
        </dl>
        <dl>
            <div class="aboutList" th:text="#{성별 : } + ${profile.gender}"></div>
        </dl>
        <dl>
            <div class="aboutList" th:text="#{생년월일 : } + ${profile.birthDt}"></div>
        </dl>

</th:block>
</html>