<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="menu">
<!--        회원의 요약 정보-->
        <a th:href="@{/mypage/profile}" th:text="#{회원_정보_수정}"></a>
        <a th:href="@{/mypage/about}" th:text="#{About_Me}"></a>
        <a th:href="@{/message/list}" th:text="${#strings.concat(#messages.msg('쪽지함'), '(', totalUnRead, ')')}"></a>
        <a th:href="@{/mypage/wishlist}" th:text="#{찜_목록_관리}"></a>
        <a th:href="@{/mypage/follow}" th:text="#{팔로우_관리}"></a>
    </aside>
</html>