<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">

    <th:block th:replace="~{front/mypage/_member::member}"></th:block>

    <th:block th:replace="~{front/mypage/_myPokemons::myPokemons}"></th:block>

<!--    <th:block th:replace="~{front/mypage/_followButton::followButton}"></th:block>-->

<!--    <th:block th:if="isLogin">-->
<!--        <button type="button" th:if="*{@followService.isFollowing(nickName)}" class="unfollow_btn">UnFollow</button>-->
<!--        <button type="button" th:unless="*{@followService.isFollowing(nickName)}" class="follow_btn" th:data-nickName="*{nickName}">Follow</button>-->
<!--    </th:block>-->

<!--나를 나타내는 성향 키워드 (친구 구해요, 활발한 등등)-->
<!--... 기타 등등 추가 예정-->

</main>
</html>