<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <div class="link">
        <a th:href="@{/mypage/profile}">
            <th:block th:text="#{회원_정보_수정}"></th:block>
        </a>
        <a th:href="@{/mypage/about}">
            <th:block th:text="#{About_Me}"></th:block>
        </a>
        <a th:href="@{/mypage/wishlist}">
            <th:block th:text="#{찜_목록_관리}"></th:block>
        </a>

    </div>
</main>
</html>