<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="common">
        <div class="left">
            <a th:href="@{/admin}" class="logo">
                <img th:src="@{/admin/images/logo.png}">
            </a>
        </div>
        <div class="right">
            <span class="welcome" th:text="${#messages.msg('LOGIN_MSG', profile.name, profile.email)}"></span>
            <a th:href="@{/member/logout}">로그아웃
                <i class="xi-log-out"></i></a>
<!--            쪽지함 추가 예정-->
        </div>
    </header>
</html>