<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<section layout:fragment="content">

    <th:block th:replace="~{front/member/_member::member}"></th:block>

    <th:block th:replace="~{front/mypage/_myPokemons::myPokemons}"></th:block>

<!--    <th:block th:if="${useFollowButton}">-->
    <th:block th:replace="~{front/mypage/_followButton::followButton}"></th:block>
<!--    </th:block>-->
    <!--    <th:block th:replace="~{front/mypage/_followButton::followButton(seq=${seq})}"></th:block>-->
    <!--나를 나타내는 성향 키워드 (친구 구해요, 활발한 등등)-->
    <!--... 기타 등등 추가 예정-->
</section>
</html>