/* MyPage Layout S */

main {
    display: flex;
    padding: 40px 0 100px;
}

main > aside {
    width: 200px;
}

main > aside > a {
    display: block;
    height: 45px;
    line-height: 44px;
}

main > aside > a + a {
    border-top: 1px solid lightsteelblue;
}

main > section {
    flex-grow: 1;
    padding: 30px;
}
/* MyPage Layout E */

.profile-image {

    width : 250px;
    height : 300px;
    border : 2px solid #000;
}