<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="common">
    <container class="foot-top">
      <div class="foot-top-left">
        <a th:href="@{/}" class="foot-logo">
          <img th:src="@{/front/images/ft_logo.png}" />
        </a>
      </div>
      <div class="foot-top-center">
        <ul class="foot-top-link">
          <li>
            <a href="https://pokemonkorea.co.kr/company">
              <th:block th:text="#{회사소개}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/business">
              <th:block th:text="#{사업내용}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/partner">
              <th:block th:text="#{제휴안내}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/terms">
              <th:block th:text="#{이용약관}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/privacy">
              <th:block th:text="#{개인정보처리방침}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/email">
              <th:block th:text="#{이메일무단수집거부}"></th:block>
            </a>
          </li>
          <li>
            <a href="https://pokemonkorea.co.kr/faq">
              <th:block th:text="#{고객센터}"></th:block>
            </a>
          </li>
        </ul>
      </div>
      <div class="foot-top-right">
        <a href="#top" class="go-to-top">
          <img th:src="@{/front/images/btn_top.png}" />
        </a>
      </div>
    </container>
    <container class="foot-mid">
      <div class="foot-mid-left">
        <div class="foot-mid-left-top">
          <th:block th:text="#{회사명}"></th:block>
          <th:block th:text="#{회사주소}"></th:block>
        </div>
        <div class="foot-mid-left-bot">
          <th:block th:text="#{대표이사}"></th:block>
          <th:block th:text="#{개인정보관리책임자}"></th:block>
          <th:block th:text="#{사업자등록번호}"></th:block>
        </div>
      </div>
      <div class="foot-mid-right">
        <ul class="foot-mid-sns">
          <li class="foot-mid-sns-logo">
            <a
              th:href="@{https://www.instagram.com/pokemon_korea_official/}"
              target="_blank"
              class="foot-mid-sns"
            >
              <img th:src="@{/front/images/icon_insta.png}" />
            </a>
          </li>
          <li class="foot-mid-sns-logo">
            <a
              th:href="@{https://www.youtube.com/user/PokemonKoreaInc}"
              target="_blank"
              class="foot-mid-sns"
            >
              <img th:src="@{/front/images/icon_youtube.png}" />
            </a>
          </li>
          <li class="foot-mid-sns-logo">
            <a
              th:href="@{https://x.com/PokemonKoreaInc}"
              target="_blank"
              class="foot-mid-sns"
            >
              <img th:src="@{/front/images/icon_twitter.png}" />
            </a>
          </li>
          <li class="foot-mid-sns-logo">
            <a
              th:href="@{https://www.tiktok.com/@pokemon_kor}"
              target="_blank"
              class="foot-mid-sns"
            >
              <img th:src="@{/front/images/icon_tiktok.png}" />
            </a>
          </li>
          <li class="foot-mid-sns-logo">
            <a
              th:href="@{https://www.pokemonstore.co.kr/}"
              target="_blank"
              class="foot-mid-sns"
            >
              <img th:src="@{/front/images/icon_pokemon.png}" />
            </a>
          </li>
        </ul>
      </div>
    </container>
    <container class="foot-bot">
      <div class="foot-bot-left">
        <div class="foot-bot-left-top">
          <div class="foot-bot-left-top-left">
            <span th:text="고객센터"></span>
          </div>
          <div class="foot-bot-left-top-right">
            <div class="foot-bot-left-top-right-top">
              <span th:text="#{고객센터운영시간}"></span>
              <span th:text="#{고객센터번호}"></span>
            </div>
            <div class="foot-bot-left-top-rigtht-top">
              <span th:text="#{카드게임}"></span>
            </div>
            <div class="foot-bot-left-top-rigtht-top">
              <span th:text="#{공식이메일}"></span>
            </div>
          </div>
        </div>
        <div class="foot-bot-left-bot">
          <th:block th:text="#{PokemonGo안내문}"></th:block>
        </div>
      </div>
      <div class="foot-bot-right">
        <div class="foot-bot-right-top">
          <span th:text="#{GAMEFREAK}"></span>
          <span th:text="#{PROJECT}"></span>
          <span th:text="#{상표안내}"></span>
        </div>
        <div class="foot-bot-right-bot">
          <th:block th:text="#{도용복제안내문}"></th:block>
        </div>
      </div>
    </container>
  </footer>
</html>
