<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="common">
    <container class="foot-top">
      <div class="foot-top-left">
        <a th:href="@{/}" class="foot-logo">
          <img th:src="@{/front/images/ft_logo.png}" />
        </a>
      </div>
      <div class="foot-top-right"></div>
    </container>
    <container class="foot-mid">
      <p>foot-mid</p>
      <div class="foot-mid-left"></div>
      <div class="foot-mid-right"></div>
    </container>
    <container class="foot-bot">
      <span>foot-bot</span>
      <div class="foot-bot-left"></div>
      <div class="foot-bot-right"></div>
    </container>
  </footer>
</html>
